* Lawns styles{
    stroke: #000000;
    stroke-width: 0.5;
    fill:#6aa84f, symbol('shape://slash');
}


* Buildings of IST with Labels{
  fill: #FF6347;
  stroke:black;
  stroke-width: 0.6;
  label: [Buildings_];
  label-anchor: 0.5 0.5;
  font-family: "Verdana";
  font-fill: black;
  font-style: normal;
  font-size: 10;
}


* Roads with labels {
    stroke: #3d85c6;
    label: [Name];
    label-anchor: 0.5 0.5;
    font-family: "Verdana";
    font-fill: black;
    font-style: normal;
    font-size: 9;
    label-offset:0.7;
}


* grounds styles {
    stroke: #000000;
    stroke-width: 0.5;
    fill:#ffd966, symbol('shape://slash');
    fill-size:8;
}
:fill{
  stroke:green;
}


